.vscode/**
.vscode-test/**
.gitignore
vsc-extension-quickstart.md
.git/**
**/*.map
**/*.ts
# Include all node_modules for now to avoid dependency issues
# node_modules/**
# !node_modules/vscode-languageclient/**
# !node_modules/vscode-languageserver-protocol/**
# !node_modules/minimatch/**
.vsix
test.qasm

# Make sure to keep these files
!bin/**
!extension.js
!language-configuration.json
!syntaxes/**
